 <aside class="bg-mycolor-3 p-6 overflow-scroll scrollbar-none flex-col">

            <div class="border-b py-1 border-mycolor-1">
                Home
            </div>

            <div id="global-list-btn" class="py-4 my-2 flex gap-4 text-mycolor2-4">

                <div id="" class="bg-mycolor2-2 p-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-9 h-9">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 9l10.5-3m0 6.553v3.75a2.25 2.25 0 01-1.632 2.163l-1.32.377a1.803 1.803 0 11-.99-3.467l2.31-.66a2.25 2.25 0 001.632-2.163zm0 0V2.25L9 5.25v10.303m0 0v3.75a2.25 2.25 0 01-1.632 2.163l-1.32.377a1.803 1.803 0 01-.99-3.467l2.31-.66A2.25 2.25 0 009 15.553z" />
                    </svg>
                </div>
                <div class="shrink-0">
                    <div>Global List</div>
                    <div>234 songs</div>
                </div>
            </div>


            <div class="relative">
                <div class="border-b relative pb-2 my-2 flex justify-between">Playlists
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" id="create-playlist-btn" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>

                <div id="add-playlist-input"
                    class="absolute top-0 duration-400 pb-2 -translate-x-[110%] opacity-0 w-full bg-mycolor-3 transition-all flex gap-2">
                    <input id="playlist-name" placeholder="name your playlist" type=text
                        class="h-6 rounded-sm shrink-1 inline-block text-mycolor-2 p-1 focus:outline-none">
                    <svg id="playlist-post" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6 stroke-mycolor-4 hover:stroke-mycolor-5 shrink-0">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    <svg id="cancel-playlist-input" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6 shrink-0 stroke-mycolor-5 hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>

                </div>
                <ul>
                    <li class="">its alomost time</li>
                    <li>Mood</li>
                    <li>april april</li>
                </ul>
            </div>

        </aside>



