<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tailwindcss/music_player.css' %}">
    <title>Document</title>
</head>
<body class="">
    <main class="h-screen p-5 gap-7 border border-black grid grid-cols-6">
        <div id="card-wrapper" class="" >
            <div id="playlist-card" class="p-4 shadow-md shadow-black bg-mycolor-2 playlist-card rounded-md">
                <div>
                    <img class="object-contain rounded-md" src="https://i.pinimg.com/736x/33/d6/c4/33d6c40a5f20ee47e3a4fa3a11c32d4e--golden-ratio-vinyl-lp.jpg" alt="">
                </div>
                <div id="playlist-info" class="text-white flex flex-col gap-1 py-2 ">
                    <h1 class="text-sm">Peaceful piano</h1>
                    <div class="h-6 text-xs leading-3 overflow-hidden">
                        relex and indulgin music heart meltin g Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati deleniti sed, explicabo a excepturi sapiente iste, maiores nisi modi incidunt eligendi earum perspiciatis
                    </div>
                </div>
            </div>
         </div>
      
         <div id="card-wrapper" class="" >
            <div id="playlist-card" class="p-4 shadow-md shadow-black bg-mycolor-2 playlist-card rounded-md">
                <div>
                    <img class="object-contain rounded-md" src="https://i.pinimg.com/736x/33/d6/c4/33d6c40a5f20ee47e3a4fa3a11c32d4e--golden-ratio-vinyl-lp.jpg" alt="">
                </div>
                <div id="playlist-info" class="text-white flex flex-col gap-1 py-2 ">
                    <h1 class="">Peaceful piano</h1>
                    <div class="h-6 text-xs leading-3 overflow-hidden">
                        relex and indulgin music heart meltin g Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati deleniti sed, explicabo a excepturi sapiente iste, maiores nisi modi incidunt eligendi earum perspiciatis
                    </div>
                </div>
            </div>
         </div>
         <div id="card-wrapper" class="" >
            <div id="playlist-card" class="p-4 shadow-md shadow-black bg-mycolor-2 playlist-card rounded-md">
                <div>
                    <img class="object-contain rounded-md" src="https://i.pinimg.com/736x/33/d6/c4/33d6c40a5f20ee47e3a4fa3a11c32d4e--golden-ratio-vinyl-lp.jpg" alt="">
                </div>
                <div id="playlist-info" class="text-white flex flex-col gap-1 py-2 ">
                    <h1 class="text-sm">Peaceful piano</h1>
                    <div class="h-6 text-xs leading-3 overflow-hidden">
                        relex and indulgin music heart meltin g Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati deleniti sed, explicabo a excepturi sapiente iste, maiores nisi modi incidunt eligendi earum perspiciatis
                    </div>
                </div>
            </div>
         </div>
         <div id="card-wrapper" class="" >
            <div id="playlist-card" class="p-4 shadow-md shadow-black bg-mycolor-2 playlist-card rounded-md">
                <div>
                    <img class="object-contain rounded-md" src="https://i.pinimg.com/736x/33/d6/c4/33d6c40a5f20ee47e3a4fa3a11c32d4e--golden-ratio-vinyl-lp.jpg" alt="">
                </div>
                <div id="playlist-info" class="text-white flex flex-col gap-1 py-2 ">
                    <h1 class="text-sm">Peaceful piano</h1>
                    <div class="h-6 text-xs leading-3 overflow-hidden">
                        relex and indulgin music heart meltin g Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati deleniti sed, explicabo a excepturi sapiente iste, maiores nisi modi incidunt eligendi earum perspiciatis
                    </div>
                </div>
            </div>
         </div>
      
         
    </main>
 
</body>
</html>