<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'music_player/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'tailwindcss/music_player.css' %}">
    <script src="{% static 'music_player/js/utilities.js' %}"></script>
    <script src="{% static 'modules/amplitudejs/amplitude.js' %}"></script>
    <script src="{% static 'modules/howlerjs/howler.js' %}"></script>
    <script src="{% static 'modules/jquery/jquery.js' %}"></script>
    <script>
        const defaultAddImg = "{% static 'music_player/images/addMusic.png' %}";
    </script>
    <link rel="stylesheet" href="{% static 'music_player/css/playlist_card.css' %}">
</head>

<body class="min-h-screen  overflow-x-hidden bg-mycolor-3 text-mycolor2-4 font-myfontreg ">

    <main class="grid grid-cols-[auto,1fr] gap-4 h-screen select-none">

        {% include 'music_player/aside.html' %}


        <section
            class="relative bg-gradient-to-tl p-4 flex flex-col gap-4 scrollbar-none from-mycolor-3 to-mycolor-2 overflow-y-scroll overflow-x-hidden">
            {% include 'music_player/components/page_controller.html' %}

            {% include 'music_player/pages/home_page.html' %}
            {% include 'music_player/pages/playlist_page.html' %}

            {% include 'music_player/components/alert.html' %}
        </section>

    </main>
    {% include 'music_player/music_controller.html' %}
    <script src="{% static 'music_player/js/init_music.js' %}"></script>
    <script src="{% static 'music_player/js/music_operations.js' %}"></script>
    <script src="{% static 'music_player/js/home.js' %}"></script>
</body>
</script>
<!-- hello pathu -->

</html>