[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
python3-discogs-client = "*"
psycopg2 = "*"
wrap-genius = "*"

[dev-packages]

[requires]
python_version = "3.11"
