{% load static %}
    <div class="container">
        <div class="left">
            <div class="menu">
                <ul>
                    <li>
                        <a href="#">
                            <img src="{% static 'authentication/images/svg/home.svg' %}" alt="" class="gray-filtered">
                            <span>Home</span>
                        </a>
                              
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'authentication/images/svg/search.svg' %}" alt="" class="gray-filtered">
                            <span>Search</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{% static 'authentication/images/svg/library.svg' %}" alt="" class="gray-filtered">
                            <span>Your Library</span>
                        </a>
                    </li>
                    <div style="height: 20px;"></div>
                    <li>
                        <a href="#">
                            <img src="{% static 'authentication/images/svg/plus.svg' %}" alt="" class="gray-filtered">
                            <span>Create Playlist</span>
                        </a>
                     </li>
                     <li>
                         <a href="#">
                            <img src="" alt="" class="gray-filtered">
                            <span>Liked Songs</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right"></div>
    </div>
