<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'authentication/css/signup_in.css' %}">
	<link rel="stylesheet" href="{% static 'tailwindcss/music_player.css' %}">
	<title>Music player</title>
</head>

<body class="font-myfontreg bg-gradient-to-tl scrollbar-none from-mycolor-3 to-mycolor-2">
	<div class="split-screen ">
		<div class="left relative h-full object-contain">
			<img src="{% static 'authentication/images/weeknd.jpg' %}"
				class="absolute gradient-mask w-full object-cover h-full" alt="">
			<section id="tagline" class="copy absolute w-full h-full z-20">
				<div class="text-center">
					Missed Us?<br>
					Tune IN<br>
					Just blend in 1000+ songs

				</div>
			</section>

		</div>
		<div class="right">
			<form method="post" action="/signinuser">
				{% csrf_token %}

				<section class="copy my-12 text-3xl">
					<h2>Sign In</h2>
					<p>Dont Have an Account <strong><a href="/signup">Join us</a></strong></p>
				</section>
				<div class="input-container name">
					<label for="username">Enter Username / Email </label>
					<input id="fname" class="input-height bg-mycolor2-1" name="username" type="text">
				</div>

				<div class="input-container password">
					<label for="password">Password</label>
					<input id="password" class="input-height bg-mycolor2-1" name="password"
						placeholder="Must be atleast 6 character" type="password">
					<i class="far fa-eye-slash"></i>
				</div>
				<div class="login-container text-white">
					<p class="my-4">Forgot your Password? <a href="/signin">
							<strong>Click here</strong></a></p>
				</div>
				<div>
					<button class="signup-btn bg-mycolor-4" type="submit">Sign In</button>
					<section class="copy legal">
						<p><span class="small">By continuing, you agree to accept our <br> <a href="#">Privacy
									Policy</a>
								&amp; <a href="#">Terms of Service</a>.</span></p>
					</section>
				</div>

			</form>
		</div>
	</div>
</body>

</html>