
html, body, *{
    -webkit-app-region: drag;
    -webkit-user-select: none;
    cursor: default;
}

body{
    box-sizing: border-box;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvatica Neue";
    max-height: 100vh;
    height: 100vh;
}

.left {
    background-color: black;
    position: relative;
    width: 300px;
    left: 0;
    bottom: 0;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row;
    position: relative;
}

.gray-filtered {
    filter: invert(0.5) sepia(70) saturate(0) hue-rotate(0);
}

.menu ul {
    width: 100%;
}

.menu ul li img {
    width: 24px;
}

.menu ul li {
    padding: 5px;
}

.menu ul li a {
    text-decoration: none;
    color: gray;
}

.menu ul * {
    cursor: pointer;
}

.menu ul li a span {
    position: relative;
    top: -5px;
    left: 8px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    padding-left: 0 !important;
}