:root {
    line-height: 1.5;
    --primary-blue: #146eb4;
}



h1 {
    font-size: 2.25rem;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: var(--primary-blue);
    text-decoration: underline;
}
.small {
    font-size: 80%;
    text-align: center;
}
.split-screen {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.left{
    height: 200px;
}
.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .copy {
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:white;
    font-size: 1.2rem;
    text-shadow: black;
}
.left p {
    font-weight: 400;
}
.right .copy {
    color: white;
    text-align: center;
}
.right .copy p {
    margin: 1.5em 0;
    font-size: 0.875rem;
}
.right form {
    width: 328px;
}
form input{
    display: block;
    color:white;
    width: 100%;
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    padding: lem;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

form input:focus{
    outline: none;
}

label {
    color: white;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75;
}


.checkbox-container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container {
    display: flex;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin: 0 0 1.25rem 0;
    align-items: center;
}

.checkbox-container input:checked~.checkmark {
    background-color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
}
.checkmark {
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 2px;
}
.signup-btn {
    display: block;
    width: 100%; 
    font-weight: 700;
    border: none;
    padding: 0.60rem;
    border-radius: 8px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.signup-btn:hover {
    background: var(--primary-blue);
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .split-screen {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.py{
   padding-top: 20px;
}

.copy h1{
    color: white;
}

.email{
   width: 100%;
}

.cta{
    display:flex;
    align-items: center;
}
